<!DOCTYPE html>
<html>
  <head>
    <title>Poll App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- bootstrap css-->
		<link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Poll App</a>
				</div>
				<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if cur_user}}
            <li>
              <a href="#">Hello, {{cur_user.username}}</a>
            </li>
            <li>
              <a href="/logout">Log Out</a>
            </li>
            {{ else }}
            <li>
              <a href="/sign-up">Sign Up</a>
            </li>
            <li>
              <a href="/login">Log In</a>
            </li>
            {{/if}}
          </ul>

				</div>
		</nav>
      {{{ body }}}
    <script src="/javascript/choice.js"></script>
  </body>
</html>
