<div class="jumbotron">
  <h2>Want to create a poll?</h2>

  <button class="btn" onclick="window.location.href='/polls'">Start <i class="glyphicon glyphicon-thumbs-up"></i></button>
</div>


<footer>
  <div class="text-center">
    Created by RisaToy with <i class="glyphicon glyphicon-heart"></i>
  </div>
</footer>
