body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  background-image: url("../img/footer.jpg");
}
.navbar {
    margin-bottom: 0;
    padding: 5px;
    background-color: #2d2d30;
    border: 0;
    font-size: 17px !important;
    letter-spacing: 4px;
    opacity:0.9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}


.jumbotron {
  background-image: url("../img/poll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 320px;
  height: 700px;
  margin: 0;
}

.jumbotron button {
  font-size: 22px;
  height: 60px;
  width: 150px;
  margin: 30px;
  border: 2px solid #ffffff;
  background: #acc1e2;
}

.jumbotron button:focus {outline:0 !important;}

.jumbotron button:hover {
    background-color: #8dade0;
    color: white;
}

.container-fluid {
    padding: 60px 50px;
}

.form-container {
  width: 33%;
  margin: auto;
  margin-top: 137px;
}

.form-container button {
  width: 100%;
}


.show-container {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.show-container table {
  margin-top: 50px;
}

.show-container tr:hover {
  background-color: #efeff2
}

.display-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
}

.display-container button {
  margin: 7px;
  margin-bottom: 0;
  padding: 10px 25px;
  border: 2px solid #000000;
  background: none;
}

.display-container button:hover {
    background-color: #acc1e2;
}

.poll-show-container {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 15px;
  margin: 50px;
}

.poll-title {
  height: 250px;
  padding-top: 70px;
}

.poll-title h3 {
  font-size: 60px;
}

.progress {
  height: 27px;
  width: 80%;
  margin: auto;
}

.choice-show-container {
  text-align: center;
  margin: 100px 0;
}

.choice-show-container button {
  width: 30%;
  margin-top: 10px;
}

.field-container {
  background-color: #ffffff;
  padding: 80px 30px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}


/* User Auth*/
.userauth-container {
  background-color: #ffffff;
  padding: 80px 30px;
  border-radius: 15px;
  width: 40%;
  margin: auto;
  margin-top: 100px;
}


footer {
    color: #f5f5f5;
    padding: 50px;
}
