<div class="show-container">
  <div class="display-container">
    <button class="btn" onclick="window.location.href='/polls/new'"><i class="glyphicon glyphicon-plus"></i> Create A Poll </button>

    <table class="table">
      <tr style="background-color: #d9d9db;">
        <th><i class="glyphicon glyphicon-bookmark"></i></th>
        <th>TITLE</th>
        <th></th>
      </tr>
      {{#each allPolls}}
        <tr>
          <td>{{id}}</td>
          <td>{{question}}</td>
          <td class="text-center">
            <a class="btn" href="/polls/{{id}}">Show</a> |
            <a class="btn" href="/polls/{{id}}/edit">Edit</a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>

</div>
